<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias alias="admin_infoVO" type="com.nds.nwjms.vo.Admin_infoVO" />
		<typeAlias alias="emp_infoVO" type="com.nds.nwjms.vo.Emp_infoVO" />
		<typeAlias alias="rstrnt_infoVO" type="com.nds.nwjms.vo.Rstrnt_infoVO" />
	</typeAliases>

</configuration>
